*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.burger-btn {
  position: absolute;
  right: 1rem;
  top: 0;
  height: 5rem;
  width: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.logo {
  position: absolute;
  top: 1rem;
  height: 3rem;
  left: 10%;
  text-decoration: none;
}
.logo__text {
  font-size: 3rem;
  color: black;
}

.nav-desktop {
  position: fixed;
  display: none;
  top: 0;
  height: 4.6rem;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}
.nav-desktop__items {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 15%;
}
.nav-desktop__item {
  color: black;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.35rem 1rem;
}
.nav-desktop__item:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.nav-mobile {
  position: fixed;
  display: flex;
  height: 4.6rem;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 100;
}
.nav-mobile__items {
  position: fixed;
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 100%;
  transition: left 0.5s;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.nav-mobile__item {
  text-decoration: none;
  color: black;
  padding: 2.4rem;
  margin: 1rem;
  font-size: 3.6rem;
}
.nav-mobile__item:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.active {
  transition: left 0.5s;
  left: 0;
}

.header {
  display: flex;
  position: relative;
  background-image: url("./img/jungleS.jpg");
  height: 50vh;
  top: 4.6rem;
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  align-items: center;
  z-index: -1;
}
.header__text {
  position: absolute;
  color: white;
  z-index: 10;
}
.header__text h1 {
  font-size: 3.6rem;
  font-weight: lighter;
}
.header__text p {
  font-size: 4.8rem;
  font-weight: bold;
}
.header__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.aboutus {
  position: relative;
  margin-top: 20vh;
}
.aboutus__section-title {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
}
.aboutus__box {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}
.aboutus__img {
  width: 100%;
}
.aboutus__text {
  margin-top: 3rem;
}
.aboutus__title {
  font-size: 2.4rem;
}
.aboutus__info {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.hero {
  display: flex;
  height: 20vh;
  position: relative;
  background-image: url("./img/girlS.jpg");
  text-align: center;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}
.hero__text {
  font-size: 2.4rem;
  color: white;
  padding: 1.6rem;
  border: 1px solid white;
  z-index: 1;
}
.hero__shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.offer {
  position: relative;
  margin-top: 10vh;
}
.offer__section-title {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: normal;
  text-align: center;
}
.offer__text {
  margin-top: 2rem;
  font-size: 1.6rem;
  text-align: center;
}
.offer__card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 2rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s;
}
.offer__card:hover {
  transform: scale(1.05);
}
.offer__name {
  margin: 1rem 0;
  font-size: 3.6rem;
}
.offer__price {
  margin: 1rem 0;
  font-size: 4.8rem;
  font-weight: bold;
}
.offer__options {
  display: flex;
  align-items: left;
  flex-direction: column;
  font-size: 2.4rem;
}
.offer__option-includes {
  text-align: left;
  margin: 0.5rem 0;
}
.offer__option-includes::before {
  position: absolute;
  display: block;
  transform: translateX(-2.4rem);
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(./img/check.svg);
}
.offer__option-unincluded {
  text-align: left;
  margin: 0.5rem 0;
  color: grey;
}
.offer__option-unincluded::before {
  position: absolute;
  display: block;
  transform: translateX(-2.4rem);
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  background-image: url(./img/minus.svg);
}
.offer__btn {
  margin: 1rem 0;
  height: 3.6rem;
  border: 2px solid transparent;
  border-radius: 1rem;
  background-color: #fff;
  box-shadow: 1px 0 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.5s;
}
.offer__btn:hover {
  background-color: rgb(72, 209, 113);
}

.footer {
  position: relative;
}
.footer__main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgb(201, 201, 201);
}
.footer__brand {
  margin: auto 20%;
}
.footer-logo {
  text-decoration: none;
}
.footer-logo__text {
  font-size: 3rem;
  color: black;
}
.footer__h3 {
  margin: 1rem 0;
  font-weight: bold;
  font-size: 2.4em;
}
.footer__p {
  font-size: 1.6em;
  transition: font-weight 0.5s;
}
.footer__p:hover {
  font-weight: bold;
  cursor: pointer;
}
.footer__bottom {
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  background-color: rgb(201, 201, 201);
}

.contact {
  position: relative;
  margin: 10rem 5%;
}
.contact__h1 {
  text-align: center;
  font-weight: normal;
  font-size: 4.8rem;
  margin: 2rem auto;
}
.contact__form, .contact__form-top {
  display: flex;
  flex-direction: column;
  font-size: 2.4rem;
}
.contact__btn {
  align-self: flex-end;
  padding: 0.5em;
  margin: 2rem 0;
  width: 100%;
  max-width: 30rem;
  color: white;
  border: 2px solid black;
  transition: background-color 0.5s, color 0.5s;
  background-color: black;
  font-size: 2.4rem;
  cursor: pointer;
}
.contact__btn:hover {
  background-color: white;
  color: black;
}
.contact__input {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
.contact__textarena {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

.location {
  margin: 5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location__h2 {
  align-content: center;
  font-size: 3.6rem;
  margin-bottom: 5rem;
  font-weight: normal;
}
.location__map-small {
  border: 4px solid black;
}
.location__map-normal {
  border: 4px solid black;
  display: none;
}

@media (min-width: 768px) {
  .header {
    background-image: url("./img/jungle.jpg");
  }
  .header__text h1 {
    font-size: 2.4rem;
  }
  .header__text p {
    font-size: 3.6rem;
  }
  .aboutus__box {
    display: flex;
    padding: 5rem 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .aboutus__img {
    width: 40%;
  }
  .aboutus__text {
    width: 40%;
  }
  .hero {
    background-image: url("./img/girl.jpg");
    height: 30vh;
  }
  .footer__main {
    flex-direction: row;
  }
  .footer-logo {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
  }
  .footer-logo__text {
    font-size: 3rem;
    color: black;
  }
  .footer__box {
    margin: 3rem auto;
  }
  .footer__h3 {
    font-weight: bold;
    font-size: 1.6em;
  }
  .footer__p {
    margin-top: 1rem;
    font-size: 1.2em;
  }
  .footer__bottom {
    font-size: 1rem;
  }
  .location__map-small {
    display: none;
  }
  .location__map-normal {
    display: block;
  }
}
@media (min-width: 992px) {
  .offer__cards {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
  }
  .offer__card {
    width: 30%;
  }
  .offer__name {
    font-size: 2.4rem;
  }
  .offer__price {
    font-size: 3.6rem;
  }
  .offer__options {
    font-size: 1.6rem;
  }
  .nav-desktop {
    display: block;
  }
  .nav-mobile {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */